* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.landing-page {
  margin: auto;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  color: #00252e;
}

p,
h3,
h4,
h5 {
  font-family: "Open-sans", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 4.8rem;
  line-height: 7.2rem;
}

h2 {
  font-size: 4rem;
  line-height: 6rem;
}

h3 {
  font-size: 9.6rem;
  font-weight: 700;
  line-height: 14.4rem;
  color: #00252e;
}

h4 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #808e9a;
}

h5 {
  font-size: 2rem;
  line-height: 3rem;
}

p {
  color: #00252e;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

body {
  background-color: #ffffff;
}

.btn {
  font-family: "Open-sans", sans-serif;
  border: #ff52c1 0.1rem solid;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-primary {
  font-weight: 700;
  font-size: 2rem;
  background-color: #ff52c1;
  color: white;
  width: 40rem;
  height: 8rem;
  border-radius: 6rem;
  -webkit-box-shadow: 0px 0px 4px #979797;
          box-shadow: 0px 0px 4px #979797;
}

.btn-primary:hover {
  background-color: #ff8ed7;
  border: #ff8ed7 0.1rem solid;
  -webkit-box-shadow: 0px 0px 2px #ff8ed7;
          box-shadow: 0px 0px 2px #ff8ed7;
}

.btn-secondary {
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #ffffff;
  color: #ff52c1;
  padding: 1rem 3rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0px 0px 2px #ff52c1;
          box-shadow: 0px 0px 2px #ff52c1;
}

.btn-secondary:hover {
  color: #ff8ed7;
  border: #ff8ed7 0.1rem solid;
  -webkit-box-shadow: 0px 0px 2px #ff8ed7;
          box-shadow: 0px 0px 2px #ff8ed7;
}

header {
  padding-top: 5rem;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

section.hero {
  padding-top: 22.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.hero .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero .content h5 {
  width: 60rem;
  text-align: center;
  padding: 5rem 0;
}

section.hero .content button {
  margin-bottom: 5rem;
}

section.hero .content .img {
  width: 100%;
}

section.hero .content .stats {
  padding-top: 10rem;
  width: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

section.hero .content .stats h4 {
  text-align: center;
}

section.grow-together {
  padding-top: 10rem;
  height: 841px;
  position: relative;
}

section.grow-together:before {
  content: "";
  background-image: url("./images/bg-section-top-desktop-1.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -14%;
}

section.grow-together:after {
  content: "";
  background-image: url("./images/bg-section-bottom-desktop-1.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
}

section.grow-together div.container {
  background-color: #2a9d8f;
}

section.grow-together .content {
  width: 82%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.grow-together .content .text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 52.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.grow-together .content .text p {
  padding-top: 2.6rem;
  width: 84%;
  padding-right: 3rem;
}

section.grow-together .content img {
  width: 47.5%;
}
/*# sourceMappingURL=style.css.map */